body {
	font-family: sans-serif;
}

input {
	border: 1px solid #999;
	padding: 0.5rem;
	width: 300px;
	max-height: 40px;

	min-height: 50px;
	font-size: 25px;
	box-shadow: 29px 40px 100px -74px rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	text-align: center;
}

.noSuggestions {
	color: #999;
	padding: 0.5rem;
	font-size: 35px;
	flex-direction: row;
	vertical-align: center;
	justify-content: center;
	margin: auto;
	padding-left: 0;
	width: calc(300px + 1rem);
}

.suggestions {
	font-size: 30px;
	border: 1px solid #999;
	border-top-width: 0;
	list-style: none;
	margin-top: 0;
	max-height: 30%;

	min-height: 50px;
	overflow-y: scroll;
	padding-left: 0;
	width: calc(360px + 1rem);
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
}

.suggestions li {
	display: flex;
	flex-direction: row-reverse;
	padding: 0.5rem;
	height: 75px;
}

.liColumnOne {
	align-content: space-around;
}

.liColumnTwo {
	margin: auto;
}

.suggestionActive,
.suggestions li:hover {
	background-color: steelblue;
	color: #fae042;
	cursor: pointer;
	font-weight: 700;
}

.suggestions li:not(:last-of-type) {
	border-bottom: 1px solid #999;
}

.Comp {
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	width: 100%;
	height: 130px;
}

.Img {
	width: 70px;
}

.InputAndSuggestionBox {
	margin: auto;
	overflow: hidden;
}

/*iphone5se*/
@media (min-width: 320px) and (min-height: 568px) {
	input {
		width: 90vw;
	}
	.suggestions {
		width: 95vw;
		max-height: 40vh;

		min-height: 50px;
	}
}
/*galaxy s5*/
@media (min-width: 360px) and (min-height: 640px) {
	input {
		width: 90vw;
	}
	.suggestions {
		width: 95vw;
		max-height: 40vh;

		min-height: 50px;
	}
}
/*iphone678*/
@media (min-width: 375px) and (min-height: 667px) {
	input {
		width: 90vw;
	}
	.suggestions {
		width: 95vw;
		max-height: 40vw;

		min-height: 50px;
	}
}
/*iphonex*/
@media (min-width: 375px) and (min-height: 812px) {
	input {
		width: 90vw;
	}
	.suggestions {
		width: 95vw;
		max-height: 35vw;

		min-height: 50px;
	}
}
/*pixel2*/
@media (min-width: 411px) and (min-height: 731px) {
	input {
		width: 85vw;
	}
	.suggestions {
		width: 95vw;
		max-height: 38vw;

		min-height: 50px;
	}
}
/*pixel2xl*/
@media (min-width: 411px) and (min-height: 823px) {
	input {
		width: 85vw;
	}
	.suggestions {
		width: 89vw;
		max-height: 35vw;

		min-height: 50px;
	}
}
/*iphone678plus*/
@media (min-width: 414px) and (min-height: 736px) {
	input {
		width: 85vw;
	}
	.suggestions {
		width: 95vw;
		max-height: 35vw;

		min-height: 50px;
		margin: auto;
	}
	.Comp {
		width: 100vw;
		margin: auto;
	}
}
/*ipad*/
@media (min-width: 768px) and (min-height: 1024px) {
	input {
		width: 85vw;
	}
	.suggestions {
		width: 95vw;
		max-height: 35vw;
		min-height: 50px;
		margin: auto;
	}
	.Comp {
		width: 100vw;
		margin: auto;
	}
}
/* ipad pro */
@media (min-width: 1024px) and (min-height: 1366px) {
	input {
		width: 400px;
	}
	.suggestions {
		width: 425px;
		max-height: 400px;
		min-height: 50px;
		margin: auto;
	}
	.Comp {
		width: 100vw;
		margin: auto;
	}
}
/* pc
@media (min-width: 1440px) {
	input {
		width: 400px;
	}
	.suggestions {
		width: 425px;
		max-height: 400px;
		min-height: 50px;
		margin: auto;
	}
	.Comp {
		width: 95vw;
		margin: auto;
	}
}
/* 4k 
@media (min-width: 2560px) {
	input {
		width: 400px;
	}
	.suggestions {
		width: 425px;
		max-height: 400px;
		min-height: 50px;
		margin: auto;
	}
	.Comp {
		width: 95vw;
		margin: auto;
	}
} */
